/node_modules
cypress/videos
cypress/screenshots
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp.*
.pnp.js
.cache/
.idea/
.vscode/
dist/
build/
coverage/
logs/
*.log
*.tsbuildinfo
*.local
.vite/
*.env